<h1>Examples</h1>
<ol>
  <li><a href="/hquery/twitter">Twitter (1)</a></li>
  <li><a href="/hquery/twitter?id=techcrunch">Twitter (2)</a></li>
  <li><a href="/hquery/search">Google powered by Yahoo (1)</a> (requires your Yahoo BOSS appid)</li>
  <li><a href="/hquery/search?q=hello+world">Google powered by Yahoo (2)</a> (requires your Yahoo BOSS appid)</li>
</ol>
